
  .btnClose:hover {
    color: #FF4300;
  }

//ipad horizontal
@media  screen and  (min-height: 768px)  {
    @media  screen and  (min-width: 1024px)  {

        .btnClose{
            float: left;
            color: white;
            padding: 38px 30px 0px 0px;
            text-decoration: none;
            font-size: 30px;
        }

    }
}