.orderChef{
    color: #ffffff;
    width: 95%;
}


.customerChef{
    display: flex;
    flex-direction: column;

}


.orderDetailChef{
    display: flex;
    height: 300px;
    
    overflow: auto;
}
.orderDetailChef::-webkit-scrollbar{
    width: 10px;
    
}

.orderDetailChef::-webkit-scrollbar-thumb{
    background: #C4C4C4;
    border-radius: 5px;

}
.order__Button{
    display: flex;
    width: 470px;
    justify-content: space-between;

}

@media  screen and  (min-height: 768px)  {
    @media  screen and  (min-width: 1024px)  {
        
          
          .customerChef input{
              border-radius: 25px;
              height: 40px;
              width: 300px;
              text-align: center;
              color: #000000;
              font-size: 18px;
              margin-left: 10px;
          
          }
          .customerChef input:placeholder{
             color:#776D6D;
             text-align: center;
          
          }
          
          .customerChef h2{
              font-size: 20px;
          }

          .orderSummaryChef{
            border: solid 1px #ffffff;
            border-radius: 20px;
            padding: 10px;
          }
         

          .orderDetailChef {
            font-size: 20px;
            
        }

        .orderTableChef{
            width: 20%;
            
        }
        .orderTableChef p{
        color: #ffffff;
    
        }
        .orderTableChef td th{
        text-align: center;
        vertical-align: top;
        border-collapse: collapse;
        padding: 5px;
        caption-side: bottom;
        }

        .orderTable__Td{
            align-items: center;
        }


    
.btn__chefMenuLeftV2_cancelar{
    background-color: #C4C4C4;
    border-radius: 25px;
    border: none;
    height: 70px;
    width: 180px;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}
.btn__chefMenuLeftV2_cancelar:hover{    
        background-color: #558C03;
    }

}
}