
.chef__Button{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.chefButton__Status{
    color: #000000;
}

.chefButton__Status:hover{
    background-color:#E82525;
}


@media  screen and  (min-height: 768px)  {
    @media  screen and  (min-width: 1024px)  {
        
        .chefButton__Status{
            background-color: #C4C4C4;
            border-radius: 25px;
            border: none;
            height: 50px;
            width: 120px;
            font-size: 23px;
            cursor: pointer;
            margin: 0px 10px 0px 10px;
            
        }

}
}
