.menuNames{
    display: flex;
    justify-content: center;
    width: 100%;

}
.menuName{
    color: #000000;
}

.menuName:hover{
    background-color:#FCB607;
}


@media  screen and  (min-height: 768px)  {
    @media  screen and  (min-width: 1024px)  {
        
        .menuName{
            background-color: #C4C4C4;
            border-radius: 25px;
            border: none;
            height: 50px;
            width: 120px;
            font-size: 23px;
            cursor: pointer;
            margin: 10px 10px 0px 10px;
            
        }

}
}
