

.btnDelivery{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.btnDelivery button{
    width: 200px;
    padding: 10px;
    background-color: #FF4300;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;

}

@media  screen and  (min-height: 768px)  {
    @media  screen and  (min-width: 1024px)  {
.orderTitle h2{
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    padding-top: 100px;
}

.container__ChefMenu{

width: 500px;
height: 300px;
margin: 50px auto;

}



.container__ChefMenu p{
    background-color: #C4C4C4;
            border-radius: 25px;
            border: none;
            cursor: pointer;
            margin-top: 20px;
            width: 450px;
            padding: 10px;
            color:#776D6D;
            text-align: center;
            margin: 0px;
            font-size: 20px;
    }

   

}}