.order{
    color: #ffffff;
    width: 95%;
}

.customer{
    display: flex;
    justify-content: center;

}

.orderDetail{
    display: flex;
    justify-content: center;
    height: 300px;
    overflow: auto;
}
.orderDetail::-webkit-scrollbar{
    width: 10px;
    
}

.orderDetail::-webkit-scrollbar-thumb{
    background: #C4C4C4;
    border-radius: 5px;

}
.orderButtons{
    display: flex;
    justify-content: space-between;
    

}

.fa-plus-circle{
    color: #558C03;
}
.fa-minus-circle{
    color: #27c5b8;
}
.fa-trash-alt{
    color: #E82525;
}

@media  screen and  (min-height: 768px)  {
    @media  screen and  (min-width: 1024px)  {
        .orderSummaryHead li{
            padding: 0px 50px 0px 50px;
            font-size: 25px;
              
          }
          
          .customer input{
              border-radius: 25px;
              height: 40px;
              width: 300px;
              text-align: center;
              color: #000000;
              font-size: 18px;
              margin-left: 10px;
          
          }
          .customer input:placeholder{
             color:#776D6D;
             text-align: center;
          
          }
          
          .costumer h2{
              font-size: 15px;
          }

          .orderSummary h2{
           text-align: center;
           padding-top: 20px;
              
          }

          .orderDetail {
            font-size: 20px;
            
        }

        .orderTable{
            width: 95%;
            
}
.orderTable th, td {
  
   text-align: center;
   vertical-align: top;
   border-collapse: collapse;
   padding: 5px;
   caption-side: bottom;
}

.orderTableTr th{
    width: 5%;
}


.orderButton{
    background-color: #C4C4C4;
    border-radius: 25px;
    border: none;
    height: 70px;
    width: 180px;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}
.orderButton:hover{    
        background-color: #558C03;
    }

}
}