@import '../../router/App.scss';
.rol-container{
  display:flex;
}
.rol-box{
  @include media(xs) {
      display:none;
      }
}
.waiter-out{
    position: absolute;
    width: 300px;
    height: 520px;
    left: 20%;
    top:10%;
    border: 2px solid white;
    @include media(md) {
      left: 16%;
    }
    button{
     @include button-primary;
      position: absolute;
      background-color:$c-darkBrown;
      width: 200px;
      height: 88px;
      border-radius: 10px;
      left: 18%;
      bottom: 20px;
    }
  }
  .waiter-inner{
    position: fixed;
    width: 270px;
    height: 350px;
    left: 21.2%;
    top: 15%;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    @include media(md) {
      left: 17.6%;
    }
    img{
      width:200px;
      transform: translateX(40px);
    }
  }
  
  .chef-out{
    position: absolute;
    width: 300px;
    height: 520px;
    left: 60%;
    top: 10%;
    border: 2px solid white;
    button{
      @include button-primary;
      position: absolute;
      background-color:$c-green;
      width: 200px;
      height: 88px;
      border-radius: 10px;
      left: 18%;
      bottom: 20px;
    }
  }
  .chef-inner{
    position: fixed;
    width: 270px;
    height: 350px;
    left: 61.3%;
    top: 15%;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    img{
      width:200px;
      transform: rotate(35deg) translateX(50px);
    }
  }