.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}
.modal-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#ffffff;
  border-radius:25px;
  padding: 15px;
  z-index: 3;
  width: 450px;
  height: 100px;
}
.close-modal{
  
  color:#000000;
  float: right;
  cursor: pointer;
  text-align: center;
  font-size: 25px;
  padding: 0px;
  &:hover{
    color:#FF4300;
    border-radius:2px;
    transform:scale(1.1);
  }
}
