@import '../../router/App.scss';

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 100;
}
.modal-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:$c-bg;
  border-radius:10px;
  padding: 30px;
  z-index: 300;
}
.close-modal{
  font-weight: 600;
  color: white;
  float: right;
  font-family: 'Handlee';
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  &:hover{
    background-color:#31313188;
    border-radius:2px;
    transform:scale(1.1);
  }
}
