@import '../../router/App.scss';

.modal-title{
  color:white;
  font-family: 'Handlee', cursive;
  margin-bottom:2px;
  margin-top:3px;
}

.options-label{
  padding-left: 15px;
  color:$c-bg;
  font-size: 20px;
  font-weight: 200;
  margin-right: 5px;
}
input{
  margin-right: 2px;
}
.option,
.option-two{
  align-items: center;
  background-color:$c-darkBrown;
  padding:10px;
  border-radius:5px;
  font-family: $content-font;
  margin-bottom:5px;
}
.modal-btn{
  background-color: $c-green;
    color:$c-bg;
    font-family: $titles1-font ;
    outline: none;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 12px;
    padding: 10px;
    float: right;
    width: 100px;
    border: none;
}