$black : #2C2C2C;
$orange :#D4804C;
$yellow : #FFD195;
$green : #5D9B84;
$white : #FFFFFF;
$grey : #C4C4C4;
$titles1-font : 'Anton', sans-serif;
$titles2-font : Vast Shadow;
$content-font : Handlee;

.rectangle {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 10;
    box-sizing:border-box;
    display: grid;
    grid-template-columns: 5% 6% 4% repeat(17, 5%);
    grid-template-rows: 5% 10% 13% repeat(12, 6%);
    grid-gap: 0;
    color : $white;
    border: solid 1px $white;  
    border-radius: 10px;
}

.message {

    grid-column-start: 3;
    grid-column-end: 19;
    grid-row-start: 6;
    grid-row-end: 8;
    margin: auto;
    font-family: $content-font;

}

.customerTitle {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0;
    padding:0;
    font-family: $titles1-font;
    font-size: 30px;

    
}

#customerName {
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0;
    padding: 0;
    font-family: $content-font;
    font-size: 30px;
}


.tableTitle {
    
    
    font-size: 25px;
    margin: 0;
    padding: 0;

    grid-column-start:15;
    grid-column-end: 18;
    grid-row-start: 2;
    grid-row-end: 3;
    
    font-family: $titles1-font;

    
}


#tableNumber {
    grid-column-start:19;
    grid-column-end: 21;
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: $content-font;
    font-size: 35px;
    margin: 0;
    padding: 0;
}

.quantityDone, .productDone {
    font-family: $titles2-font;
    font-size: 13px;
    

}

.entry {
    font-size: 15px;
    margin: auto 0;
    font-family: $titles2-font;
    grid-column-start:2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;    
}

.prepared {
    font-size: 15px;
    margin: 0;
    font-family: $titles2-font;
    grid-column-start:2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;    
}

.entryDateHour {
    font-size: 15px;
    margin: auto 0;
    font-family: $content-font;
    grid-column-start:5;
    grid-column-end: 20;
    grid-row-start: 3;
    grid-row-end: 4;

}

.doneDateHour {
    font-size: 15px;
    margin: 0;
    font-family: $content-font;
    grid-column-start:6;
    grid-column-end: 20;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-left: 5px;

}

.quantityDone {
    grid-column-start:5;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 6;   
    margin: auto; 
}
.productDone {
    grid-column-start:10;
    grid-column-end: 20;
    grid-row-start: 5;
    grid-row-end: 6; 
    margin: auto 0;   
}


.prueba {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8; 
    font-size: 22px;    
  }


  .productList {
    grid-column-start:1;
    grid-column-end: 21;
    grid-row-start: 7;
    grid-row-end: 18;
    font-size: 30px;
    margin: 0;
    padding : 0;
    list-style: none;


  }